body{
font-family: 'Open Sans', sans-serif;
background-color: #D3E38A;
}

h1{
	font-family: 'Oldenburg', cursive;
}

h3{
	font-family: 'Oldenburg', cursive;

	font-size: 16pt;
}

h4{
	font-family: 'Oldenburg', cursive;
}
header nav{
	color: #D12027;
}

p{

}

footer{
	position: relative;
    left: 0;
    bottom: 0;
    margin:0 auto;
    width: 100%;

}
 footer img{
 	height: 50px;
 }