body{
font-family: 'Open Sans', sans-serif;
background-color: #D3E38A;
}

h1{
	font-family: 'Oldenburg', cursive;
}

h3{
	font-family: 'Oldenburg', cursive;
	color: #f2f4e4;
	font-size: 16pt;
}
nav ul{
	color: #D12027;
}

p{

}

footer{
	position: relative;
    left: 0;
    bottom: 0;
    margin:0 auto;
    width: 100%;
    background-color: #8B8B8B;
    color: #F2F4E4;
}
 footer img{
 	height: 50px;
 }